<h2>Show Claim</h2>

<ul>

  <li>
    <strong>State:</strong>
    <%= @claim.state %>
  </li>

  <li>
    <strong>Coordinates:</strong>
    <%= inspect @claim.coordinates %>
  </li>

  <li>
    <strong>Metadata:</strong>
    <%= inspect @claim.metadata %>
  </li>

<%# <script src="claim.js"></script> %>
<div id="example"></div>
</ul>
<span><%= link "Edit", to: claim_path(@conn, :edit, @claim) %></span>
<span><%= link "Back", to: claim_path(@conn, :index) %></span>

